/* Layout */

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    main > .container {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 601px) {
    body {
        line-height: 1.6;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
    }
    main > .container {
        padding-top: 50px;
        width: 100%;
    }
}

/* Navigation */

nav ul#nav-mobile a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.sidenav {
    height: 100%;
    padding-bottom: 1em;
}

.sidenav.sidenav-fixed li {
    line-height: 44px;
}

.sidenav li.logo {
    text-align: center;
    margin-top: 1em;
}

.sidenav li.logo a {
    height: auto;
}

.sidenav li.logo img {
    width: 50px;
}

.sidenav li.version {
    text-align: center;
    padding: 0.5em 0 1em 0;
}

.sidenav li.version li {
    min-height: auto;
}

.sidenav li.version .dropdown-trigger {
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 2em;
}

.sidenav li.version .dropdown-trigger .caret {
    position: relative;
    top: 10px;
    fill: rgba(0, 0, 0, 0.6);
}

.sidenav ul {
    padding: 0.5em 1em;
}
.sidenav ul div {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.sidenav li > a {
    height: 1.6em;
    line-height: 1.6em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: normal;
}

.sidenav.sidenav-fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

.sidenav.sidenav-fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}

ul.sidenav code {
    font-size: 0.9em;
}

.table-of-contents {
    overflow-y: auto;
    height: calc(100% - 75px);
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #1a237e;
}

.table-of-contents a:hover {
    color: #a8a8a8;
    padding-left: 15px;
    border-left: 1px solid #1a237e;
}

.table-of-contents a {
    color: rgba(0, 0, 0, 0.55);
    font-weight: 400;
}

.markdown-section {
    display: block;
    word-wrap: break-word;
    overflow: auto;
    color: #333;
    line-height: 1.7;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.markdown-section * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.markdown-section *:focus {
    outline: none;
}
.markdown-section > :first-child {
    margin-top: 0 !important;
}
.markdown-section > :last-child {
    margin-bottom: 0 !important;
}
.markdown-section blockquote,
.markdown-section code,
.markdown-section figure,
.markdown-section img,
.markdown-section pre,
.markdown-section table,
.markdown-section tr {
    page-break-inside: avoid;
}
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section p {
    orphans: 3;
    widows: 3;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
    page-break-after: avoid;
}
.markdown-section b,
.markdown-section strong {
    font-weight: 700;
}
.markdown-section em {
    font-style: italic;
}
.markdown-section blockquote,
.markdown-section dl,
.markdown-section ol,
.markdown-section p,
.markdown-section table,
.markdown-section ul {
    margin-top: 0;
    margin-bottom: 0.85em;
}

.markdown-section h3 + table {
    font-size: 0.8em;
}

.markdown-section ul > li {
    list-style-type: disc;
}
.markdown-section a {
    color: #4183c4;
    text-decoration: none;
    background: 0 0;
}
.markdown-section a:active,
.markdown-section a:focus,
.markdown-section a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    img {
        width: 100%;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.22);
    }
}

@media only screen and (min-width: 601px) {
    .markdown-section img {
        max-width: 90%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 2px;
        margin: 2rem;
    }
}

.markdown-section hr {
    height: 4px;
    padding: 0;
    margin: 1.7em 0;
    overflow: hidden;
    background-color: #e7e7e7;
    border: none;
}
.markdown-section hr:after,
.markdown-section hr:before {
    display: table;
    content: ' ';
}
.markdown-section hr:after {
    clear: both;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
    margin-top: 1.275em;
    margin-bottom: 0.85em;
    font-weight: 700;
}
.markdown-section h1 {
    font-size: 2.5em;
}
.markdown-section h2 {
    font-size: 1.75em;
}
.markdown-section h3 {
    margin-top: 1.5em;
    font-size: 1.25em;
}
.markdown-section h4 {
    margin-top: 1.25em;
    font-size: 1em;
    font-weight: bold;
}
.markdown-section code,
.markdown-section pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    direction: ltr;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
}
.markdown-section pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: 0.85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7;
}
.markdown-section pre > code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: 0.85em;
    white-space: pre;
    background: 0 0;
}
.markdown-section pre > code:after,
.markdown-section pre > code:before {
    content: normal;
}
.markdown-section code {
    padding: 0.2em;
    margin: 0;
    font-size: 0.85em;
    background-color: #f7f7f7;
}
.markdown-section code:after,
.markdown-section code:before {
    letter-spacing: -0.2em;
    content: '\00a0';
}
.markdown-section table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}
.markdown-section table td,
.markdown-section table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.markdown-section table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.markdown-section table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown-section table th {
    font-weight: 700;
}
.markdown-section ol,
.markdown-section ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0.85em;
    padding-left: 2em;
}
.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
.markdown-section ol ol {
    list-style-type: lower-roman;
}
.markdown-section blockquote {
    margin: 0;
    margin-bottom: 0.85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5;
}
.markdown-section blockquote:first-child {
    margin-top: 0;
}
.markdown-section blockquote:last-child {
    margin-bottom: 0;
}
.markdown-section dl {
    padding: 0;
}
.markdown-section dl dt {
    padding: 0;
    margin-top: 0.85em;
    font-style: italic;
    font-weight: 700;
}
.markdown-section dl dd {
    padding: 0 0.85em;
    margin-bottom: 0.85em;
}
.markdown-section dd {
    margin-left: 0;
}
.markdown-section .glossary-term {
    cursor: help;
    text-decoration: underline;
}

.markdown-section .icon {
    box-shadow: none;
    margin: 0;
    width: 26px;
    height: 26px;
    transform: translate(0, 40%);
    margin-top: -16px;
    margin-left: -4px;
    margin-right: -4px;
}

/* Prism overrides */
/* Added the container selector to have a greater specificity */
.container .token.operator,
.container .token.entity,
.container .token.url,
.container .language-css .token.string,
.container .style .token.string {
	color: #9a6e3a;
    background: none;
}
