{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }],
        "react"
    ],
    "plugins": [
        "transform-react-jsx",
        "add-module-exports",
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error"]
        }],
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }],
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-async-to-generator",
        "syntax-trailing-function-commas"
    ]
}
