{
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "phantomjs": true,
        "protractor": true
    },
    "plugins": [
        "prettier",
        "react"
    ],
    "extends": [
        "prettier",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5"
            }
        ],
        "react/forbid-prop-types": [
            "off"
        ],
        "react/prop-types": [
            "warn"
        ],
        "react/jsx-indent": [
            "off"
        ],
        "react/jsx-indent-props": [
            "off"
        ],
        "react/jsx-filename-extension": [
            "off"
        ]
    }
}