<li {% if page.path contains 'Readme.md' %} class="active" {% endif %}><a href="{% link Readme.md %}">Read Me</a></li>
<li {% if page.path contains 'Tutorial.md' %} class="active" {% endif %}><a href="{% link Tutorial.md %}">Tutorial</a>
</li>
<li {% if page.path contains 'DataProviders.md' %} class="active" {% endif %}><a href="{% link DataProviders.md %}">Data
        Providers</a></li>
<li {% if page.path contains 'Admin.md' %} class="active" {% endif %}><a
        href="{% link Admin.md %}"><code>&lt;Admin&gt;</code></a>
</li>
<li {% if page.path contains 'Resource.md' %} class="active" {% endif %}><a href="{% link Resource.md %}">
        <code>&lt;Resource&gt;</code>
    </a></li>
<li {% if page.path contains 'List.md' %} class="active" {% endif %}><a
        href="{% link List.md %}"><code>&lt;List&gt;</code>
        View</a></li>
<li {% if page.path contains 'Show.md' %} class="active" {% endif %}><a
        href="{% link Show.md %}"><code>&lt;Show&gt;</code>
        View</a></li>
<li {% if page.path contains 'Fields.md' %} class="active" {% endif %}><a
        href="{% link Fields.md %}"><code>&lt;Field&gt;</code>
        Components</a></li>
<li {% if page.path contains 'CreateEdit.md' %} class="active" {% endif %}><a
        href="{% link CreateEdit.md %}"><code>&lt;Create&gt;</code>
        and <code>&lt;Edit&gt;</code> Views</a>
</li>
<li {% if page.path contains 'Inputs.md' %} class="active" {% endif %}><a
        href="{% link Inputs.md %}"><code>&lt;Input&gt;</code>
        Components</a></li>
<li {% if page.path contains 'Authentication.md' %} class="active" {% endif %}><a
        href="{% link Authentication.md %}">Authentication</a></li>
<li {% if page.path contains 'Authorization.md' %} class="active" {% endif %}><a
        href="{% link Authorization.md %}">Authorization</a></li>
<li {% if page.path contains 'Theming.md' %} class="active" {% endif %}><a href="{% link Theming.md %}">Theming</a></li>
<li {% if page.path contains 'Actions.md' %} class="active" {% endif %}><a href="{% link Actions.md %}">Querying the
        API</a></li>
<li {% if page.path contains 'Translation.md' %} class="active" {% endif %}><a
        href="{% link Translation.md %}">Translation</a></li>
<li {% if page.path contains 'CustomApp.md' %} class="active" {% endif %}><a href="{% link CustomApp.md %}">Including in
        Another App</a>
</li>
<li {% if page.path contains 'Reference.md' %} class="active" {% endif %}><a
        href="{% link Reference.md %}">Reference</a>
</li>
<li {% if page.path contains 'FAQ.md' %} class="active" {% endif %}><a href="{% link FAQ.md %}">FAQ</a></li>
<li {% if page.path contains 'Ecosystem.md' %} class="active" {% endif %}><a
        href="{% link Ecosystem.md %}">Ecosystem</a>
</li>
<li {% if page.path contains 'UnitTesting.md' %} class="active" {% endif %}><a href="{% link UnitTesting.md %}">Unit
        Testing</a></li>
<li {% if page.path contains 'AdvancedTutorials.md' %} class="active" {% endif %}><a
        href="{% link AdvancedTutorials.md %}">Advanced
        tutorials</a></li>
