<li {% if page.path == 'Tutorial.md' %} class="active" {% endif %}><a class="nav-link" href="./Tutorial.html">Tutorial</a></li>
<li><a class="nav-link external" href="https://github.com/marmelab/react-admin/releases" target="_blank">What's new?</a></li>
<li {% if page.path == 'Upgrade.md' %} class="active" {% endif %}><a class="nav-link" href="./Upgrade.html">Upgrading to v4</a></li>

<ul><div>App Configuration</div>
  <li {% if page.path == 'Admin.md' %} class="active" {% endif %}><a class="nav-link" href="./Admin.html"><code>&lt;Admin&gt;</code></a></li>
  <li {% if page.path == 'Resource.md' %} class="active" {% endif %}><a class="nav-link" href="./Resource.html"><code>&lt;Resource&gt;</code></a></li>
  <li {% if page.path == 'CustomRoutes.md' %} class="active" {% endif %}><a class="nav-link" href="./CustomRoutes.html"><code>&lt;CustomRoutes&gt;</code></a></li>
</ul>

<ul><div>Data Provider and API Calls</div>
  <li {% if page.path == 'DataProviderIntroduction.md' %} class="active" {% endif %}><a class="nav-link" href="./DataProviderIntroduction.html">Introduction</a></li>
  <li {% if page.path == 'DataProviderList.md' %} class="active" {% endif %}><a class="nav-link" href="./DataProviderList.html">Supported backends</a></li>
  <li {% if page.path == 'DataProviders.md' %} class="active" {% endif %}><a class="nav-link" href="./DataProviders.html">Setting Up</a></li>
  <li {% if page.path == 'DataProviderWriting.md' %} class="active" {% endif %}><a class="nav-link" href="./DataProviderWriting.html">Writing A Data Provider</a></li>
  <li {% if page.path == 'Actions.md' %} class="active" {% endif %}><a class="nav-link" href="./Actions.html">Querying the API</a></li>
  <li {% if page.path == 'useDataProvider.md' %} class="active" {% endif %}><a class="nav-link" href="./useDataProvider.html"><code>useDataProvider</code></a></li>
  <li {% if page.path == 'useGetList.md' %} class="active" {% endif %}><a class="nav-link" href="./useGetList.html"><code>useGetList</code></a></li>
  <li {% if page.path == 'useGetOne.md' %} class="active" {% endif %}><a class="nav-link" href="./useGetOne.html"><code>useGetOne</code></a></li>
  <li {% if page.path == 'useGetMany.md' %} class="active" {% endif %}><a class="nav-link" href="./useGetMany.html"><code>useGetMany</code></a></li>
  <li {% if page.path == 'useGetManyReference.md' %} class="active" {% endif %}><a class="nav-link" href="./useGetManyReference.html"><code>useGetManyReference</code></a></li>
  <li {% if page.path == 'useCreate.md' %} class="active" {% endif %}><a class="nav-link" href="./useCreate.html"><code>useCreate</code></a></li>
  <li {% if page.path == 'useUpdate.md' %} class="active" {% endif %}><a class="nav-link" href="./useUpdate.html"><code>useUpdate</code></a></li>
  <li {% if page.path == 'useUpdateMany.md' %} class="active" {% endif %}><a class="nav-link" href="./useUpdateMany.html"><code>useUpdateMany</code></a></li>
  <li {% if page.path == 'useDelete.md' %} class="active" {% endif %}><a class="nav-link" href="./useDelete.html"><code>useDelete</code></a></li>
  <li {% if page.path == 'useDeleteMany.md' %} class="active" {% endif %}><a class="nav-link" href="./useDeleteMany.html"><code>useDeleteMany</code></a></li>
  <li><a class="nav-link external" href="https://marmelab.com/ra-enterprise/modules/ra-realtime#real-time-hooks.html" target="_blank"><code>useSubscribe</code><img class="premium" src="./img/premium.svg" /></a></li>
</ul>

<ul><div>Auth Provider and Security</div>
  <li {% if page.path == 'Authentication.md' %} class="active" {% endif %}><a class="nav-link" href="./Authentication.html">Introduction</a></li>
  <li {% if page.path == 'AuthProviderList.md' %} class="active" {% endif %}><a class="nav-link" href="./AuthProviderList.html">Supported backends</a></li>
  <li {% if page.path == 'AuthProviderWriting.md' %} class="active" {% endif %}><a class="nav-link" href="./AuthProviderWriting.html">Writing An Auth Provider</a></li>
  <li {% if page.path == 'Permissions.md' %} class="active" {% endif %}><a class="nav-link" href="./Permissions.html">Permissions</a></li>
  <li {% if page.path == 'AuthRBAC.md' %} class="active" {% endif %}><a class="nav-link" href="./AuthRBAC.html">RBAC<img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'Authenticated.md' %} class="active" {% endif %}><a class="nav-link" href="./Authenticated.html"><code>&lt;Authenticated&gt;</code></a></li>
  <li {% if page.path == 'WithPermissions.md' %} class="active" {% endif %}><a class="nav-link" href="./WithPermissions.html"><code>&lt;WithPermissions&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'useAuthProvider.md' %} class="active" {% endif %}><a class="nav-link" href="./useAuthProvider.html"><code>useAuthProvider</code></a></li>
  <li {% if page.path == 'useAuthenticated.md' %} class="active" {% endif %}><a class="nav-link" href="./useAuthenticated.html"><code>useAuthenticated</code></a></li>
  <li {% if page.path == 'useAuthState.md' %} class="active" {% endif %}><a class="nav-link" href="./useAuthState.html"><code>useAuthState</code></a></li>
  <li {% if page.path == 'useGetIdentity.md' %} class="active" {% endif %}><a class="nav-link" href="./useGetIdentity.html"><code>useGetIdentity</code></a></li>
  <li {% if page.path == 'useLogin.md' %} class="active" {% endif %}><a class="nav-link" href="./useLogin.html"><code>useLogin</code></a></li>
  <li {% if page.path == 'useLogout.md' %} class="active" {% endif %}><a class="nav-link" href="./useLogout.html"><code>useLogout</code></a></li>
  <li {% if page.path == 'usePermissions.md' %} class="active" {% endif %}><a class="nav-link" href="./usePermissions.html"><code>usePermissions</code></a></li>
  <li {% if page.path == 'useCanAccess.md' %} class="active" {% endif %}><a class="nav-link" href="./useCanAccess.html"><code>useCanAccess</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'canAccess.md' %} class="active" {% endif %}><a class="nav-link" href="./canAccess.html"><code>canAccess</code><img class="premium" src="./img/premium.svg" /></a></li>
</ul>

<ul><div>List Page</div>
  <li {% if page.path == 'ListTutorial.md' %} class="active" {% endif %}><a class="nav-link" href="./ListTutorial.html">Introduction</a></li>
  <li {% if page.path == 'FilteringTutorial.md' %} class="active" {% endif %}><a class="nav-link" href="./FilteringTutorial.html">Filtering The List</a></li>
  <li {% if page.path == 'List.md' %} class="active" {% endif %}><a class="nav-link" href="./List.html"><code>&lt;List&gt;</code></a></li>
  <li {% if page.path == 'ListBase.md' %} class="active" {% endif %}><a class="nav-link" href="./ListBase.html"><code>&lt;ListBase&gt;</code></a></li>
  <li {% if page.path == 'ListGuesser.md' %} class="active" {% endif %}><a class="nav-link" href="./ListGuesser.html"><code>&lt;ListGuesser&gt;</code></a></li>
  <li {% if page.path == 'TreeWithDetails.md' %} class="active" {% endif %}><a class="nav-link" href="./TreeWithDetails.html"><code>&lt;TreeWithDetails&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'Datagrid.md' %} class="active" {% endif %}><a class="nav-link" href="./Datagrid.html"><code>&lt;Datagrid&gt;</code></a></li>
  <li {% if page.path == 'SimpleList.md' %} class="active" {% endif %}><a class="nav-link" href="./SimpleList.html"><code>&lt;SimpleList&gt;</code></a></li>
  <li {% if page.path == 'SingleFieldList.md' %} class="active" {% endif %}><a class="nav-link" href="./SingleFieldList.html"><code>&lt;SingleFieldList&gt;</code></a></li>
  <li {% if page.path == 'EditableDatagrid.md' %} class="active" {% endif %}><a class="nav-link" href="./EditableDatagrid.html"><code>&lt;EditableDatagrid&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'Calendar.md' %} class="active" {% endif %}><a class="nav-link" href="./Calendar.html"><code>&lt;Calendar&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'FilterButton.md' %} class="active" {% endif %}><a class="nav-link" href="./FilterButton.html"><code>&lt;FilterButton&gt;</code></a></li>
  <li {% if page.path == 'FilterList.md' %} class="active" {% endif %}><a class="nav-link" href="./FilterList.html"><code>&lt;FilterList&gt;</code></a></li>
  <li {% if page.path == 'FilterLiveSearch.md' %} class="active" {% endif %}><a class="nav-link" href="./FilterLiveSearch.html"><code>&lt;FilterLiveSearch&gt;</code></a></li>
  <li {% if page.path == 'Pagination.md' %} class="active" {% endif %}><a class="nav-link" href="./Pagination.html"><code>&lt;Pagination&gt;</code></a></li>
  <li {% if page.path == 'SortButton.md' %} class="active" {% endif %}><a class="nav-link" href="./SortButton.html"><code>&lt;SortButton&gt;</code></a></li>
  <li {% if page.path == 'useList.md' %} class="active" {% endif %}><a class="nav-link" href="./useList.html"><code>useList</code></a></li>
  <li {% if page.path == 'useListContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useListContext.html"><code>useListContext</code></a></li>
  <li {% if page.path == 'useListController.md' %} class="active" {% endif %}><a class="nav-link" href="./useListController.html"><code>useListController</code></a></li>
  <li {% if page.path == 'useUnselect.md' %} class="active" {% endif %}><a class="nav-link" href="./useUnselect.html"><code>useUnselect</code></a></li>
  <li {% if page.path == 'useUnselectAll.md' %} class="active" {% endif %}><a class="nav-link" href="./useUnselectAll.html"><code>useUnselectAll</code></a></li>
</ul>

<ul><div>Creation & Edition Pages</div>
  <li {% if page.path == 'EditTutorial.md' %} class="active" {% endif %}><a class="nav-link" href="./EditTutorial.html">Introduction</a></li>
  <li {% if page.path == 'Validation.md' %} class="active" {% endif %}><a class="nav-link" href="./Validation.html">Form Validation</a></li>
  <li {% if page.path == 'Create.md' %} class="active" {% endif %}><a class="nav-link" href="./Create.html"><code>&lt;Create&gt;</code></a></li>
  <li {% if page.path == 'CreateBase.md' %} class="active" {% endif %}><a class="nav-link" href="./CreateBase.html"><code>&lt;CreateBase&gt;</code></a></li>
  <li {% if page.path == 'Edit.md' %} class="active" {% endif %}><a class="nav-link" href="./Edit.html"><code>&lt;Edit&gt;</code></a></li>
  <li {% if page.path == 'EditBase.md' %} class="active" {% endif %}><a class="nav-link" href="./EditBase.html"><code>&lt;EditBase&gt;</code></a></li>
  <li {% if page.path == 'EditGuesser.md' %} class="active" {% endif %}><a class="nav-link" href="./EditGuesser.html"><code>&lt;EditGuesser&gt;</code></a></li>
  <li {% if page.path == 'SimpleForm.md' %} class="active" {% endif %}><a class="nav-link" href="./SimpleForm.html"><code>&lt;SimpleForm&gt;</code></a></li>
  <li {% if page.path == 'TabbedForm.md' %} class="active" {% endif %}><a class="nav-link" href="./TabbedForm.html"><code>&lt;TabbedForm&gt;</code></a></li>
  <li {% if page.path == 'AccordionForm.md' %} class="active" {% endif %}><a class="nav-link" href="./AccordionForm.html"><code>&lt;AccordionForm&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'WizardForm.md' %} class="active" {% endif %}><a class="nav-link" href="./WizardForm.html"><code>&lt;WizardForm&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'EditDialog.md' %} class="active" {% endif %}><a class="nav-link" href="./EditDialog.html"><code>&lt;EditDialog&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'CreateDialog.md' %} class="active" {% endif %}><a class="nav-link" href="./CreateDialog.html"><code>&lt;CreateDialog&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'Form.md' %} class="active" {% endif %}><a class="nav-link" href="./Form.html"><code>&lt;Form&gt;</code></a></li>
  <li {% if page.path == 'Toolbar.md' %} class="active" {% endif %}><a class="nav-link" href="./Toolbar.html"><code>&lt;Toolbar&gt;</code></a></li>
  <li {% if page.path == 'SaveButton.md' %} class="active" {% endif %}><a class="nav-link" href="./SaveButton.html"><code>&lt;SaveButton&gt;</code></a></li>
  <li {% if page.path == 'useCreateContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useCreateContext.html"><code>useCreateContext</code></a></li>
  <li {% if page.path == 'useCreateController.md' %} class="active" {% endif %}><a class="nav-link" href="./useCreateController.html"><code>useCreateController</code></a></li>
  <li {% if page.path == 'useEditContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useEditContext.html"><code>useEditContext</code></a></li>
  <li {% if page.path == 'useEditController.md' %} class="active" {% endif %}><a class="nav-link" href="./useEditController.html"><code>useEditController</code></a></li>
  <li {% if page.path == 'useSaveContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useSaveContext.html"><code>useSaveContext</code></a></li>
</ul>

<ul><div>Show Page</div>
  <li {% if page.path == 'ShowTutorial.md' %} class="active" {% endif %}><a class="nav-link" href="./ShowTutorial.html">Introduction</a></li>
  <li {% if page.path == 'Show.md' %} class="active" {% endif %}><a class="nav-link" href="./Show.html"><code>&lt;Show&gt;</code></a></li>
  <li {% if page.path == 'ShowBase.md' %} class="active" {% endif %}><a class="nav-link" href="./ShowBase.html"><code>&lt;ShowBase&gt;</code></a></li>
  <li {% if page.path == 'ShowGuesser.md' %} class="active" {% endif %}><a class="nav-link" href="./ShowGuesser.html"><code>&lt;ShowGuesser&gt;</code></a></li>
  <li {% if page.path == 'SimpleShowLayout.md' %} class="active" {% endif %}><a class="nav-link" href="./SimpleShowLayout.html"><code>&lt;SimpleShowLayout&gt;</code></a></li>
  <li {% if page.path == 'TabbedShowLayout.md' %} class="active" {% endif %}><a class="nav-link" href="./TabbedShowLayout.html"><code>&lt;TabbedShowLayout&gt;</code></a></li>
  <li {% if page.path == 'Labeled.md' %} class="active" {% endif %}><a class="nav-link" href="./Labeled.html"><code>&lt;Labeled&gt;</code></a></li>
  <li {% if page.path == 'useShowContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useShowContext.html"><code>useShowContext</code></a></li>
  <li {% if page.path == 'useShowController.md' %} class="active" {% endif %}><a class="nav-link" href="./useShowController.html"><code>useShowController</code></a></li>
</ul>

<ul><div>Common</div>
  <li {% if page.path == 'WithRecord.md' %} class="active" {% endif %}><a class="nav-link" href="./WithRecord.html"><code>&lt;WithRecord&gt;</code></a></li>
  <li {% if page.path == 'useRecordContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useRecordContext.html"><code>useRecordContext</code></a></li>
  <li {% if page.path == 'useNotify.md' %} class="active" {% endif %}><a class="nav-link" href="./useNotify.html"><code>useNotify</code></a></li>
  <li {% if page.path == 'useRedirect.md' %} class="active" {% endif %}><a class="nav-link" href="./useRedirect.html"><code>useRedirect</code></a></li>
  <li {% if page.path == 'useRefresh.md' %} class="active" {% endif %}><a class="nav-link" href="./useRefresh.html"><code>useRefresh</code></a></li>
</ul>

<ul><div>Fields</div>
  <li {% if page.path == 'Fields.md' %} class="active" {% endif %}><a class="nav-link" href="./Fields.html">Introduction</a></li>
  <li {% if page.path == 'FieldsForRelationships.md' %} class="active" {% endif %}><a class="nav-link" href="./FieldsForRelationships.html">Fields for Relationships</a></li>
  <li {% if page.path == 'ArrayField.md' %} class="active" {% endif %}><a class="nav-link" href="./ArrayField.html"><code>&lt;ArrayField&gt;</code></a></li>
  <li {% if page.path == 'BooleanField.md' %} class="active" {% endif %}><a class="nav-link" href="./BooleanField.html"><code>&lt;BooleanField&gt;</code></a></li>
  <li {% if page.path == 'ChipField.md' %} class="active" {% endif %}><a class="nav-link" href="./ChipField.html"><code>&lt;ChipField&gt;</code></a></li>
  <li {% if page.path == 'DateField.md' %} class="active" {% endif %}><a class="nav-link" href="./DateField.html"><code>&lt;DateField&gt;</code></a></li>
  <li {% if page.path == 'EmailField.md' %} class="active" {% endif %}><a class="nav-link" href="./EmailField.html"><code>&lt;EmailField&gt;</code></a></li>
  <li {% if page.path == 'FileField.md' %} class="active" {% endif %}><a class="nav-link" href="./FileField.html"><code>&lt;FileField&gt;</code></a></li>
  <li {% if page.path == 'FunctionField.md' %} class="active" {% endif %}><a class="nav-link" href="./FunctionField.html"><code>&lt;FunctionField&gt;</code></a></li>
  <li {% if page.path == 'ImageField.md' %} class="active" {% endif %}><a class="nav-link" href="./ImageField.html"><code>&lt;ImageField&gt;</code></a></li>
  <li {% if page.path == 'MarkdownField.md' %} class="active" {% endif %}><a class="nav-link" href="./MarkdownField.html"><code>&lt;MarkdownField&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'NumberField.md' %} class="active" {% endif %}><a class="nav-link" href="./NumberField.html"><code>&lt;NumberField&gt;</code></a></li>
  <li {% if page.path == 'RichTextField.md' %} class="active" {% endif %}><a class="nav-link" href="./RichTextField.html"><code>&lt;RichTextField&gt;</code></a></li>
  <li {% if page.path == 'SelectField.md' %} class="active" {% endif %}><a class="nav-link" href="./SelectField.html"><code>&lt;SelectField&gt;</code></a></li>
  <li {% if page.path == 'TextField.md' %} class="active" {% endif %}><a class="nav-link" href="./TextField.html"><code>&lt;TextField&gt;</code></a></li>
  <li {% if page.path == 'TranslatableFields.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslatableFields.html"><code>&lt;TranslatableFields&gt;</code></a></li>
  <li {% if page.path == 'ReferenceField.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceField.html"><code>&lt;ReferenceField&gt;</code></a></li>
  <li {% if page.path == 'ReferenceOneField.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceOneField.html"><code>&lt;ReferenceOneField&gt;</code></a></li>
  <li {% if page.path == 'ReferenceArrayField.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceArrayField.html"><code>&lt;ReferenceArrayField&gt;</code></a></li>
  <li {% if page.path == 'ReferenceManyField.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceManyField.html"><code>&lt;ReferenceManyField&gt;</code></a></li>
  <li {% if page.path == 'ReferenceManyToManyField.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceManyToManyField.html"><code>&lt;ReferenceManyToManyField&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'UrlField.md' %} class="active" {% endif %}><a class="nav-link" href="./UrlField.html"><code>&lt;UrlField&gt;</code></a></li>
  <li {% if page.path == 'WrapperField.md' %} class="active" {% endif %}><a class="nav-link" href="./WrapperField.html"><code>&lt;WrapperField&gt;</code></a></li>
</ul>

<ul><div>Inputs</div>
  <li {% if page.path == 'Inputs.md' %} class="active" {% endif %}><a class="nav-link" href="./Inputs.html">Introduction</a></li>
  <li {% if page.path == 'ArrayInput.md' %} class="active" {% endif %}><a class="nav-link" href="./ArrayInput.html"><code>&lt;ArrayInput&gt;</code></a></li>
  <li {% if page.path == 'AutocompleteInput.md' %} class="active" {% endif %}><a class="nav-link" href="./AutocompleteInput.html"><code>&lt;AutocompleteInput&gt;</code></a></li>
  <li {% if page.path == 'AutocompleteArrayInput.md' %} class="active" {% endif %}><a class="nav-link" href="./AutocompleteArrayInput.html"><code>&lt;AutocompleteArrayInput&gt;</code></a></li>
  <li {% if page.path == 'CheckboxGroupInput.md' %} class="active" {% endif %}><a class="nav-link" href="./CheckboxGroupInput.html"><code>&lt;CheckboxGroupInput&gt;</code></a></li>
  <li {% if page.path == 'DualListInput.md' %} class="active" {% endif %}><a class="nav-link" href="./DualListInput.html"><code>&lt;DualListInput&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'BooleanInput.md' %} class="active" {% endif %}><a class="nav-link" href="./BooleanInput.html"><code>&lt;BooleanInput&gt;</code></a></li>
  <li {% if page.path == 'DateInput.md' %} class="active" {% endif %}><a class="nav-link" href="./DateInput.html"><code>&lt;DateInput></code></a></li>
  <li {% if page.path == 'DateTimeInput.md' %} class="active" {% endif %}><a class="nav-link" href="./DateTimeInput.html"><code>&lt;DateTimeInput&gt;</code></a></li>
  <li {% if page.path == 'FileInput.md' %} class="active" {% endif %}><a class="nav-link" href="./FileInput.html"><code>&lt;FileInput&gt;</code></a></li>
  <li {% if page.path == 'ImageInput.md' %} class="active" {% endif %}><a class="nav-link" href="./ImageInput.html"><code>&lt;ImageInput&gt;</code></a></li>
  <li {% if page.path == 'MarkdownInput.md' %} class="active" {% endif %}><a class="nav-link" href="./MarkdownInput.html"><code>&lt;MarkdownInput&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
  <li {% if page.path == 'NullableBooleanInput.md' %} class="active" {% endif %}><a class="nav-link" href="./NullableBooleanInput.html"><code>&lt;NullableBooleanInput&gt;</code></a></li>
  <li {% if page.path == 'NumberInput.md' %} class="active" {% endif %}><a class="nav-link" href="./NumberInput.html"><code>&lt;NumberInput&gt;</code></a></li>
  <li {% if page.path == 'RadioButtonGroupInput.md' %} class="active" {% endif %}><a class="nav-link" href="./RadioButtonGroupInput.html"><code>&lt;RadioButtonGroupInput&gt;</code></a></li>
  <li {% if page.path == 'RichTextInput.md' %} class="active" {% endif %}><a class="nav-link" href="./RichTextInput.html"><code>&lt;RichTextInput&gt;</code></a></li>
  <li {% if page.path == 'SelectArrayInput.md' %} class="active" {% endif %}><a class="nav-link" href="./SelectArrayInput.html"><code>&lt;SelectArrayInput&gt;</code></a></li>
  <li {% if page.path == 'SelectInput.md' %} class="active" {% endif %}><a class="nav-link" href="./SelectInput.html"><code>&lt;SelectInput&gt;</code></a></li>
  <li {% if page.path == 'TextInput.md' %} class="active" {% endif %}><a class="nav-link" href="./TextInput.html"><code>&lt;TextInput&gt;</code></a></li>
  <li {% if page.path == 'TranslatableInputs.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslatableInputs.html"><code>&lt;TranslatableInputs&gt;</code></a></li>
  <li {% if page.path == 'PasswordInput.md' %} class="active" {% endif %}><a class="nav-link" href="./PasswordInput.html"><code>&lt;PasswordInput&gt;</code></a></li>
  <li {% if page.path == 'ReferenceArrayInput.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceArrayInput.html"><code>&lt;ReferenceArrayInput&gt;</code></a></li>
  <li {% if page.path == 'ReferenceInput.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceInput.html"><code>&lt;ReferenceInput&gt;</code></a></li>
  <li {% if page.path == 'ReferenceManyToManyInput.md' %} class="active" {% endif %}><a class="nav-link" href="./ReferenceManyToManyInput.html"><code>&lt;ReferenceManyToManyInput&gt;</code><img class="premium" src="./img/premium.svg" /></a></li>
</ul>

<ul><div>The Store</div>
  <li {% if page.path == 'Store.md' %} class="active" {% endif %}><a class="nav-link" href="./Store.html">Introduction</a></li>
  <li {% if page.path == 'LocalesMenuButton.md' %} class="active" {% endif %}><a class="nav-link" href="./LocalesMenuButton.html"><code>&lt;LocalesMenuButton&gt;</code></a></li>
  <li {% if page.path == 'ToggleThemeButton.md' %} class="active" {% endif %}><a class="nav-link" href="./ToggleThemeButton.html"><code>&lt;ToggleThemeButton&gt;</code></a></li>
  <li {% if page.path == 'useStore.md' %} class="active" {% endif %}><a class="nav-link" href="./useStore.html"><code>useStore</code></a></li>
  <li {% if page.path == 'useRemoveFromStore.md' %} class="active" {% endif %}><a class="nav-link" href="./useRemoveFromStore.html"><code>useRemoveFromStore</code></a></li>
  <li {% if page.path == 'useResetStore.md' %} class="active" {% endif %}><a class="nav-link" href="./useResetStore.html"><code>useResetStore</code></a></li>
  <li {% if page.path == 'useStoreContext.md' %} class="active" {% endif %}><a class="nav-link" href="./useStoreContext.html"><code>useStoreContext</code></a></li>
</ul>

<ul><div>I18N Provider and Translations</div>
  <li {% if page.path == 'Translation.md' %} class="active" {% endif %}><a class="nav-link" href="./Translation.html">Introduction</a></li>
  <li {% if page.path == 'TranslationSetup.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslationSetup.html">Setting Up</a></li>
  <li {% if page.path == 'TranslationLocales.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslationLocales.html">Supported Locales</a></li>
  <li {% if page.path == 'TranslationTranslating.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslationTranslating.html">Translating UI Components</a></li>
  <li {% if page.path == 'TranslationWriting.md' %} class="active" {% endif %}><a class="nav-link" href="./TranslationWriting.html">Writing an i18nProvider</a></li>
  <li {% if page.path == 'useTranslate.md' %} class="active" {% endif %}><a class="nav-link" href="./useTranslate.html"><code>useTranslate</code></a></li>
  <li {% if page.path == 'useLocaleState.md' %} class="active" {% endif %}><a class="nav-link" href="./useLocaleState.html"><code>useLocaleState</code></a></li>
  <li {% if page.path == 'LocalesMenuButton.md' %} class="active" {% endif %}><a class="nav-link" href="./LocalesMenuButton.html"><code>&lt;LocalesMenuButton&gt;</code></a></li>
</ul>

<ul><div>Other UI components</div>
  <li {% if page.path == 'Buttons.md' %} class="active" {% endif %}><a class="nav-link" href="./Buttons.html">Buttons</a></li>
  <li {% if page.path == 'Confirm.md' %} class="active" {% endif %}><a class="nav-link" href="./Confirm.html">Confirm</a></li>
</ul>

<ul><div>Recipes</div>
  <li {% if page.path == 'Theming.md' %} class="active" {% endif %}><a class="nav-link" href="./Theming.html">Theming</a></li>
  <li {% if page.path == 'Caching.md' %} class="active" {% endif %}><a class="nav-link" href="./Caching.html">Caching</a></li>
  <li {% if page.path == 'Routing.md' %} class="active" {% endif %}><a class="nav-link" href="./Routing.html">Routing</a></li>
  <li {% if page.path == 'UnitTesting.md' %} class="active" {% endif %}><a class="nav-link" href="./UnitTesting.html">Unit Testing</a></li>
  <li {% if page.path == 'AdvancedTutorials.md' %} class="active" {% endif %}><a class="nav-link" href="./AdvancedTutorials.html">Advanced tutorials</a></li>
</ul>

<li {% if page.path == 'Ecosystem.md' %} class="active" {% endif %}><a class="nav-link" href="./Ecosystem.html">Ecosystem</a></li>
<li {% if page.path == 'Architecture.md' %} class="active" {% endif %}><a class="nav-link" href="./Architecture.html">Architecture</a></li>
<li {% if page.path == 'FAQ.md' %} class="active" {% endif %}><a class="nav-link" href="./FAQ.html">FAQ</a></li>
<li {% if page.path == 'Reference.md' %} class="active" {% endif %}><a class="nav-link" href="./Reference.html">Reference</a></li>


<script>
var allMenus = Array.from(document.querySelectorAll(`.sidenav a.nav-link`));
var navLinks = allMenus.filter(link => !link.classList.contains('external')).map(link => link.href);

function replaceContent(text) {
    var tmpElement = document.createElement('div');
    tmpElement.innerHTML = text;
    var content = document.querySelector('.DocSearch-content');
    content.innerHTML = tmpElement.querySelector('.DocSearch-content').innerHTML;
    window.scrollTo(0, 0);
    buildPageToC();
    Prism.highlightAll();
}

function changeSelectedMenu() {
    var activeMenu = document.querySelector(`.sidenav li.active`);
    activeMenu && activeMenu.classList.remove('active');
    allMenus.find(menuEl => menuEl.href === location.href).parentNode.classList.add('active');
}

// Replace full page reloads by a fill of the content area
// so that the side navigation keeps its state
function catchNavigation() {
    // use a global event listener to also catch links inside the content area
    document.addEventListener('click', (event) => {
        var link = event.target.closest('a');
        if (!link) {
            return; // click not on a link
        }
        var location = document.location.href.split('#')[0];
        var href = link.href;
        if (href.indexOf(`${location}#`) === 0) {
            return; // click on an anchor in the current page
        }
        if (!navLinks.includes(href)) {
            return; // not a navigation link
        }
        window.sessionStorage.setItem('scrollIntoView', link.closest('.sidenav') ? 'false' : 'true')
        // now we're sure it's an internal navigation link
        // transform it to an AJAX call
        event.preventDefault();
        // fetch the new content
        fetch(href)
            .then(res => res.text())
            .then(replaceContent);
        // change the URL
        history.pushState(null, null, href);
        changeSelectedMenu();
    })
    // make back button work again
    window.addEventListener('popstate', (event) => {
        if (document.location.href.indexOf('#') !== -1) {
            // popstate triggered by a click on an anchor, not back button
            return;
        }
        // fetch the new content
        fetch(location.pathname)
            .then(res => res.text())
            .then(replaceContent);
        changeSelectedMenu();
    })
}
catchNavigation();
window.addEventListener('DOMContentLoaded', () => {
    var scrollIntoView = window.sessionStorage.getItem('scrollIntoView');
    if (scrollIntoView !== 'false') {
        var activeMenu = document.querySelector(`.sidenav li.active`);
        activeMenu.parentNode.scrollIntoView();
    }
    window.sessionStorage.removeItem('scrollIntoView');
});
</script>
