<div
  href="https://react-admin.lemonsqueezy.com/"
  id="banner"
  style="
    background-color: #db2777;
    padding: 6px 20px;
    text-align: center;
    justify-content: center;
    display: none;
  "
>
  <a
    href="https://react-admin.lemonsqueezy.com/"
    style="color: #fff; display: flex; align-items: center; gap: 0.5rem"
  >
    <span aria-hidden="true" id="randomEmoji"></span>
    <span style="text-align: center">
      <strong> - Save 30% on all yearly plans </strong>
      until December 20th with code
      <strong>XMAS</strong>
      <strong>&gt;</strong>
    </span>
  </a>
  <span
    id="closeBanner"
    aria-label="Close"
    style="position: absolute; right: 10px; top: 6px"
  >
    <a href="javascript:hideBanner()" style="color: #fff">
      <span>✕</span>
    </a>
  </span>
</div>
