// @see https://github.com/Igosuki/compass-mixins/issues/34
@function compact($args...) {
    $first: nth($args, 1);
    $sep: comma;
    $list: ();

    @if length($args) == 1 and type_of($first) == 'list' {
      $args: $first;
      $sep: list-separator($args);
    }

    @for $index from 1 through length($args) {
      $arg: nth($args, $index);

      @if $arg {
        $list: append($list, $arg, $sep);
      }
    }

    @return $list;
}
