.book-summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0, 0, 0, .07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}
.book-summary ul.summary {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease
}
.book-summary ul.summary li {
    list-style: none
}
.book-summary ul.summary li.header {
    padding: 10px 15px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #939da3
}
.book-summary ul.summary li.divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .07)
}
.book-summary ul.summary li i.fa-check {
    display: none;
    position: absolute;
    right: 9px;
    top: 16px;
    font-size: 9px;
    color: #3c3
}
.book-summary ul.summary li.done>a {
    color: #364149;
    font-weight: 400
}
.book-summary ul.summary li.done>a i {
    display: inline
}
.book-summary ul.summary li a,
.book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}
.book-summary ul.summary li a:hover {
    text-decoration: underline
}
.book-summary ul.summary li.active>a {
    color: #008cff;
    background: 0 0;
    text-decoration: none
}
.book-summary ul.summary li ul {
    padding-left: 20px
}
@media (max-width: 600px) {
    .book-summary {
        width: calc(100% - 60px);
        bottom: 0;
        left: -100%
    }
}
.book.with-summary .book-summary {
    left: 0
}
.book.without-animation .book-summary {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}
.book {
    position: relative;
    width: 100%;
    height: 100%
}
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 300px
    }
}
@media (max-width: 600px) {
    .book.with-summary {
        overflow: hidden
    }
    .book.with-summary .book-summary {
        width: 0;
        overflow-x: hidden;
        transition: all 250ms ease-out
    }
    .book.with-summary .book-summary.open {
        position: fixed;
        width: 100%;
        height: 100%;
        padding-top: 30px
    }
}
.book.without-animation .book-body {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

.page-menu {
    background: #fafafa;
    display: none;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

@media (max-width: 600px) {
    .page-menu {
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%
    }
}
.page-menu button {
    color: #939da3;
    cursor: pointer;
    border: none;
    background: none;
    text-transform: uppercase
}

.page-menu button img {
    width: 16px;
    height: 16px;
}


.book-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    color: #000;
    background: #fff;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}
.book-body .body-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto
}
@media (max-width: 1240px) {
    .book-body {
        -webkit-transition: -webkit-transform 250ms ease;
        -moz-transition: -moz-transform 250ms ease;
        -o-transition: -o-transform 250ms ease;
        transition: transform 250ms ease;
        padding-bottom: 20px
    }
    .book-body .body-inner {
        position: static;
        min-height: calc(100% - 50px)
    }
}
.page-wrapper {
    position: relative;
    outline: 0
}
.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px
}
@media (max-width: 600px) {
    .page-inner {
        padding: 40px 15px 40px 15px
    }
}

.page-inner .btn-group .btn {
    border-radius: 0;
    background: #eee;
    border: 0
}
.buttons:after,
.buttons:before {
    content: " ";
    display: table;
    line-height: 0
}
.buttons:after {
    clear: both
}
.button {
    border: 0;
    background-color: transparent;
    background: #eee;
    color: #666;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 1.42857143;
    padding: 8px 4px
}
.button:hover {
    color: #444
}
.button.size-2 {
    width: 50%
}
.button.size-3 {
    width: 33%
}
.markdown-section {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    color: #333;
    line-height: 1.7;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%
}
.markdown-section * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit
}
.markdown-section>:first-child {
    margin-top: 0!important
}
.markdown-section>:last-child {
    margin-bottom: 0!important
}
.markdown-section blockquote,
.markdown-section code,
.markdown-section figure,
.markdown-section img,
.markdown-section pre,
.markdown-section table,
.markdown-section tr {
    page-break-inside: avoid
}
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section p {
    orphans: 3;
    widows: 3
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
    page-break-after: avoid
}
.markdown-section b,
.markdown-section strong {
    font-weight: 700
}
.markdown-section em {
    font-style: italic
}
.markdown-section blockquote,
.markdown-section dl,
.markdown-section ol,
.markdown-section p,
.markdown-section table,
.markdown-section ul {
    margin-top: 0;
    margin-bottom: .85em
}
.markdown-section a {
    color: #4183c4;
    text-decoration: none;
    background: 0 0
}
.markdown-section a:active,
.markdown-section a:focus,
.markdown-section a:hover {
    text-decoration: underline
}
.markdown-section img {
    max-width: 90%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
    margin: 2rem;
}
.markdown-section hr {
    height: 4px;
    padding: 0;
    margin: 1.7em 0;
    overflow: hidden;
    background-color: #e7e7e7;
    border: none
}
.markdown-section hr:after,
.markdown-section hr:before {
    display: table;
    content: " "
}
.markdown-section hr:after {
    clear: both
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700
}
.markdown-section h1 {
    font-size: 2em
}
.markdown-section h2 {
    font-size: 1.75em
}
.markdown-section h3 {
    margin-top: .85em;
    font-size: 1em
}
.markdown-section code,
.markdown-section pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    direction: ltr;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit
}
.markdown-section pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7
}
.markdown-section pre>code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
    background: 0 0
}
.markdown-section pre>code:after,
.markdown-section pre>code:before {
    content: normal
}
.markdown-section code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
    background-color: #f7f7f7
}
.markdown-section code:after,
.markdown-section code:before {
    letter-spacing: -.2em;
    content: "\00a0"
}
.markdown-section table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto
}
.markdown-section table td,
.markdown-section table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.markdown-section table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.markdown-section table tr:nth-child(2n) {
    background-color: #f8f8f8
}
.markdown-section table th {
    font-weight: 700
}
.markdown-section ol,
.markdown-section ul {
    padding: 0;
    margin: 0;
    margin-bottom: .85em;
    padding-left: 2em
}
.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
    margin-top: 0;
    margin-bottom: 0
}
.markdown-section ol ol {
    list-style-type: lower-roman
}
.markdown-section blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5
}
.markdown-section blockquote:first-child {
    margin-top: 0
}
.markdown-section blockquote:last-child {
    margin-bottom: 0
}
.markdown-section dl {
    padding: 0
}
.markdown-section dl dt {
    padding: 0;
    margin-top: .85em;
    font-style: italic;
    font-weight: 700
}
.markdown-section dl dd {
    padding: 0 .85em;
    margin-bottom: .85em
}
.markdown-section dd {
    margin-left: 0
}
.markdown-section .glossary-term {
    cursor: help;
    text-decoration: underline
}
.navigation {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease
}
.navigation:hover {
    text-decoration: none;
    color: #444
}
.navigation.navigation-next {
    right: 0
}
.navigation.navigation-prev {
    left: 0
}
@media (max-width: 1240px) {
    .navigation {
        position: static;
        top: auto;
        max-width: 50%;
        width: 50%;
        display: inline-block;
        float: left
    }
    .navigation.navigation-unique {
        max-width: 100%;
        width: 100%
    }
}
.search input[type='text'] {
    font: inherit;
    width: 100%;
    color: inherit;
    border: none;
    margin: 10px;
    cursor: inherit;
    resize: none;
    height: 38px;
    outline: none;
    padding: 0 8px 0 0;
    background: transparent;
    text-align: inherit;
    box-sizing: border-box;
    line-height: inherit;
    border-radius: 3px;
    font-size: 16px;
}
.search .octicon {
    margin: 10px 0 10px 20px;
    font-size: 16px;
}
.book .book-header .font-settings .font-enlarge {
  line-height: 30px;
  font-size: 1.4em;
}
.book .book-header .font-settings .font-reduce {
  line-height: 30px;
  font-size: 1em;
}
.book.font-size-2 .book-body .page-inner section {
  font-size: 1.6rem;
}
.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased
}
a {
    text-decoration: none
}
body,
html {
    height: 100%
}
html {
    font-size: 62.5%
}
body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
