:root {
    --black: #000;
    --deepblue: #00023b;
}

.toc-list-item {
    padding: 2px 0;
}

.toc-link {
    color: var(--black) !important;
}

.toc-link::before {
    margin-top: -3px !important;
}

.toc-link:hover {
    color: var(--deepblue) !important;
    font-weight: 700;
}

.toc-link:hover::before {
    color: var(--deepblue) !important;
    background-color: var(--deepblue);
}

.is-active-link {
    color: var(--deepblue) !important;
}

.is-active-link::before {
    background-color: var(--deepblue) !important;
}

.is-position-fixed {
    margin-top: 32px;
}
