@import '~quill/dist/quill.snow.css';

.aor-rich-text-input .ql-editor {
    font-size: 1rem;
    font-family: Roboto, 'sans-serif';
    padding: 0;
}

.aor-rich-text-input .ql-editor:hover:before {
    background-color: rgba(0, 0, 0, 1);
    height: 2px;
}

.aor-rich-text-input .ql-editor:before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    content: '';
    position: absolute;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.42);
}

.aor-rich-text-input .ql-editor::after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: #304ffe;
}

.aor-rich-text-input .ql-editor p:not(:last-child) {
    margin-bottom: 1rem;
}

.aor-rich-text-input .ql-editor strong {
    font-weight: 700;
}

.aor-rich-text-input .ql-editor h1,
.aor-rich-text-input .ql-editor h2,
.aor-rich-text-input .ql-editor h3 {
    margin: 1rem 0 0.5rem 0;
    font-weight: 500;
}

.aor-rich-text-input .ql-editor a {
    color: #304ffe;
}

.aor-rich-text-input .ql-editor ul {
    margin-bottom: 1rem;
}

.aor-rich-text-input .ql-editor li:not(.ql-direction-rtl)::before {
    font-size: 0.5rem;
    position: relative;
    top: -0.2rem;
    margin-right: 0.5rem;
}

.aor-rich-text-input .ql-editor:focus::after {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.aor-rich-text-input .ql-toolbar.ql-snow {
    margin: 0.5rem 0;
    border: 0;
    padding: 0;
}

.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item.ql-active,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item:hover,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label.ql-selected,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label:hover {
    color: #304ffe;
}

.aor-rich-text-input .ql-snow.ql-toolbar button:hover .ql-fill,
.aor-rich-text-input .ql-snow.ql-toolbar button.ql-active .ql-fill {
    fill: #304ffe;
}

.aor-rich-text-input .ql-snow.ql-toolbar button:hover .ql-stroke,
.aor-rich-text-input .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke {
    stroke: #304ffe;
}

.aor-rich-text-input .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: #fff;
    z-index: 10;
}

.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label {
    padding-left: 0;
}

.aor-rich-text-input .ql-snow.ql-toolbar + .ql-container.ql-snow {
    border: 0;
}
