@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

img.icon {
    display: inline;
    box-shadow: none;
    margin: 0;
    width: 26px;
    height: 26px;
    transform: translate(0, 40%);
    margin-top: -16px;
    margin-left: -4px;
    margin-right: -4px;
}

.ee-badge {
    background-color: transparent;
    border: none;
    background-image: url('/ra-core/img/premium.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-flex;
    top: 2px;
    position: relative;
}

.rcg-tab {
    margin: 0;
}

.expressive-code button.cb-fullscreen__button {
    color: var(--ec-frm-inlBtnFg);
}   

/* Auth and Data Provider icons */

.providers-list img {
    width: 25px !important;
    margin: 2px 10px 2px 0px !important;
    box-shadow: none !important;
    vertical-align: middle;
    display: inline;
}
.providers-list ul {
    padding-left: 0;
}
.providers-list ul > li {
    list-style-type: none;
}
.providers-list .flex {
    display: flex !important;
    text-align: -webkit-match-parent !important;
    align-items: center !important;
    flex-wrap: wrap;
    margin: 0;
}
.providers-list .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: DarkGray;
    width: 25px;
    height: 25px;
    margin: 2px 10px 2px 0px;
    border-radius: 100%;
    font-size: 12px;
}
