{
    "presets": ["es2015", "react"],
    "plugins": [
      "transform-react-jsx",
      "transform-class-properties",
      "transform-object-rest-spread",
      "syntax-trailing-function-commas",
      "dynamic-import-webpack"
    ]
}
